body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
}

* {
  box-sizing: border-box;
}

.nav_pics {
  background-image: url('https://upload.cc/i1/2019/05/27/JLgbfF.png');
  /* background-size: cover; */
  background-repeat: no-repeat; 
  height: 20vh;
  position: relative;
  left:30%;
}